@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.red {
    color: red;
    text-transform: uppercase;
}

header {
    display: flex;
    color: #fff;
    justify-content: space-between;
    min-height: 10vh;
    align-items: center;
    max-width: 1200px;
    margin: auto;
}

header h1 {
    width: 200px;
    text-align: center;
    font-size: 2em;
}


header nav a {
    display: inline-block;
    text-decoration: none;
    padding: 20px;
    text-transform: uppercase;
    /* border-to: 1px solid; */
    margin-left: 10px;
    transition: .5s;
    &:hover {
        color: red;
        opacity: .6;
        scale: 1.04;
    }
}

main {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    gap: 100px;
}

.title {
    margin: 20px 0;
    text-align: center;
}

.card-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card-benefits {
    width: 120px;
    height: 120px;
    border-bottom: 1px solid #FFf;
    text-align: center;
    padding: 5px;
    /* border-radius: 10px; */
    &:hover {
        scale: 1.02;
        box-shadow: 1px 1px 2px #FFf;
    }
}

.card-benefits img {
    width: 50px;
}

.btn-benefit {
    border: none;
}


.card-attention {
    min-width: 400px;
    display: flex;
    align-items: center;
}

.card-attention img {
    width: 100px;
    margin: 40px;
}

.card-attention p {
    text-align: justify;
    text-indent: 50px;
    padding: 20px;
    
}

.menu {
    font-size: 30px;
    display: none;
    margin-right: 50px;
}

footer {
    border-top: 1px solid #606B73;
    background-color: 000;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}


@media (max-width: 700px){
    .card-attention {
        flex-direction: column;
    }

    nav {
        display: none;
    }

    .menu {
        display: block;
    }
}






