@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: #000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
}

.red {
    color: red;
    text-transform: uppercase;
}

header {
    padding-inline: 16px;
}

header h1 {
    width: 250px;
    text-align: center;
    font-size: 2em;
    
}

a {
    font-family: sans-serif;
    text-decoration: none;
  }

.nav {
    max-width: 1280px;
    height: 70px;
    margin-inline: auto;
  
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .nav-list {
    display: flex;
    gap: 32px;
    list-style: none;
  }
  
  .nav-list a {
    font-size: 18px;
    color: #fff;
    padding-block: 16px;
  }
  


main {
    display: flex;
    min-height: 80vh;
    flex-direction: column;
    max-width: 1200px;
    margin: auto;
    gap: 100px;
}

.title {
    margin: 20px 0;
    text-align: center;

}

.card-container {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

.card-benefits {
    width: 120px;
    height: 120px;
    border-bottom: 1px solid #FFf;
    text-align: center;
    padding: 5px;


    &:hover {
        scale: 1.02;
        box-shadow: 1px 1px 2px #FFf;
    }
}

.card-benefits img {
    width: 50px;
}

.btn-benefit {
    border: none;

}


.card-attention {
    width: 100%;
    display: flex;
    align-items: center;
}

.card-attention img {
    width: 100px;
    margin: 40px;
}

.card-attention p {
    text-align: justify;
    text-indent: 50px;
    padding: 20px;

}

.menu {
    font-size: 30px;
    display: none;
    margin-right: 0px;
}

.menu button {
    width: 100px;
    height: 100px;
    border: none;
    font-size: 30px;
}

footer {
    border-top: 1px solid #606B73;
    background-color: 000;
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.hamburger {
    display: none;
    border: none;
    background: none;
    border-top: 3px solid #fff;
    cursor: pointer;
  }
  
  .hamburger::after,
  .hamburger::before {
    content: " ";
    display: block;
    width: 30px;
    height: 3px;
    background: #fff;
    margin-top: 5px;
    position: relative;
    transition: 0.3s;
  }

















@media (max-width: 750px) {

    .hamburger {
        display: block;
        z-index: 1;
      }

    .card-attention {
        flex-direction: column;
    }

    /* 
    nav {
        display: none;
    } */

    .menu {
        display: block;
    }

    .nav-list {
        position: fixed;
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        background: #606B73;
        opacity: .95;
        clip-path: circle(100px at 90% -15%);
        transition: 1s ease-out;
    
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 30px;
    
        pointer-events: none;
      }
    
      .nav-list a {
        font-size: 24px;
        opacity: 0;
        background-color: #606B73;
      }
    
      .nav-list li:nth-child(1) a {
        transition: 0.5s 0.2s;
      }
    
      .nav-list li:nth-child(2) a {
        transition: 0.5s 0.4s;
      }
    
      .nav-list li:nth-child(3) a {
        transition: 0.5s 0.6s;
      }
    
      /* Estilos ativos */
    
      .nav.active .nav-list {
        clip-path: circle(1500px at 90% -15%);
        pointer-events: all;
      }
    
      .nav.active .nav-list a {
        opacity: 1;
      }
    
      .nav.active .hamburger {
        position: fixed;
        top: 26px;
        right: 16px;
        border-top-color: transparent;
      }
    
      .nav.active .hamburger::before {
        transform: rotate(135deg);
      }
    
      .nav.active .hamburger::after {
        transform: rotate(-135deg);
        top: -7px;
      }
    }
 
}