@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.gradiente {
    width: 100vw;
    min-height: 100vh;
    background-color: #000000ef;
    color: #ffffff;
    font-size: 2em;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    
}


.gradient-main {
    overflow: hidden; /* Adicione overflow: hidden; para esconder o conteúdo excedente */
}
a {
    text-decoration: none;
    color: rgb(250, 248, 248);
    font-size: 16px;
    border: 1px solid #faf9f9;
    padding: 10px;
    border-radius: 10px;
    text-transform: uppercase;
    margin-top: 10px;
}



h1 {
    background: rgb(2, 0, 36);
    background: linear-gradient(45deg, rgba(2, 0, 36, 1) 0%, rgba(29, 28, 28, 1) 13%, rgba(240, 8, 8, 1) 22%, rgba(219, 201, 202, 1) 52%, rgba(183, 162, 163, 1) 61%, rgba(180, 11, 11, 1) 90%);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    background-size: 300% 300%;
    animation: gradientAnimation 10s ease alternate infinite;
}


@keyframes gradientAnimation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

/* .header,
.footer {
    width: 100%;
    height: 10vh;
    background-color: #252121;
} */


.fadeInLeft {
    -webkit-animation-name: fadeInLeft;
    animation-name: fadeInLeft;
    -webkit-animation-duration: 2s;
    animation-duration: 2s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(-100%, 0, 0);
        transform: translate3d(-100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

.fadeInRight {
    -webkit-animation-name: fadeInRight;
    animation-name: fadeInRight;
    -webkit-animation-duration: 3s;
    animation-duration: 3s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
}

@-webkit-keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}

@keyframes fadeInRight {
    0% {
        opacity: 0;
        -webkit-transform: translate3d(100%, 0, 0);
        transform: translate3d(100%, 0, 0);
    }

    100% {
        opacity: 1;
        -webkit-transform: none;
        transform: none;
    }
}


.flash {
    -webkit-animation-name: flash;
    animation-name: flash;
    -webkit-animation-duration: .5s;
    animation-duration: .5s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    animation: flash 10s infinite;
}

@-webkit-keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: .2;
    }
}

@keyframes flash {

    0%,
    50%,
    100% {
        opacity: 1;
    }

    25%,
    75% {
        opacity: .2;
    }
}

@media(max-width: 768px) {
    
}