@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
    scroll-behavior: smooth;
}

.header-main {
    color: #fff;
}

.img-main {
  display: flex;
  height: auto;
  align-items: center;
  justify-content: center;
  background-color: black;
}

.img-main img {
    width: 100%;
    height: auto;
}

.container {
    min-height: 100vh;
    padding-top: 7vh;
}

.navbar-header  {
    background-color: rgb(143, 6, 6);
    height: 5vh;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    left: 0;
    width: 100%;
}

.header-main nav a {
    color: #fff;
    text-decoration: none;
    margin-right: 20px;
    padding: 10px;
}

.header-main nav a:nth-child(4)::after {
    content: '|';
    margin-left: 50px;
}

#hipertrofia {
    background-color: blue;
}

#praticante {
    background-color: rgb(234, 0, 255);
}

#periodizacao {
    background-color: rgb(0, 255, 42);
}

#tecnicas {
    background-color: rgb(251, 255, 0);
}


@media(max-width: 1350px) {
    .navbar-header nav {
        display: none;
    }

    .img-main {
        height: auto;
    }
}
