@charset "UTF-8";


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}


.header-main img {
    width: 100%;
    margin: auto;
    height: auto;

}

.container {
    min-height: 100vh;
}